@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap');

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: rgb(243, 196, 134);
    background-image: url(calc.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.button {
    width: 66px;
    padding: 20px;
    margin: 0 3px;
    border: 2px solid black;
    border-radius: 9px;
    cursor: pointer;
}

.row {
    margin: 8px 0;
}

.row input {
    width: 291px;
    font-size: 30px;
    font-weight: 200;
    font-style: bold;
    margin: 0;
    padding: 20px 0px;
    border: 3px solid black;
    border-radius: 5px;
}

h1 {
    background-color: rgb(211, 188, 219);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    background-size: auto;
    backface-visibility: visible;
}